@using Entity.obj
@using Business
@using Inventory.Entity;

<hr />
<select class="form-control" @onchange="categoryselect">
    <option value="">
        Seleccione categoria...
    </option>
    @foreach(var categoria in categories){

        <option value= "@categoria.CategoriaId">  @categoria.CategoriaName </option>
    }

</select>

<hr />

<table class="table table-hover table-bordered"> 
    <thead>


        <tr>
            <th>Referencia</th>
            <th>Nombre Producto</th>
            <th> Categoria</th>
            <th><a href=""></a></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var product in Tempproduct)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.CategoryId</td>



            </tr>
        
        }
    </tbody>


</table>

@code {

    List <ProductEntity> Get_products= new List<ProductEntity>();
    List<CategoriaEntity> categories = new List<CategoriaEntity>();
    List<ProductEntity> Tempproduct = new List<ProductEntity>();

    protected override async  Task OnInitializedAsync()
    {
        Get_products = B_Product.Get();
        Tempproduct = Get_products.ToList();

        categories = B_Category.cattegoria();

    }


    private void categoryselect(ChangeEventArgs e )
    {

        string id_categoria = e.Value.ToString();

        Tempproduct = Get_products.Where(p => p.CategoryId == id_categoria).ToList();
    }



    
}
